@font-face {
    font-family: 'GothamMediumItalic';
    src: url('gotham-mediumitalic.eot');
    src: url('gotham-mediumitalic.eot') format('embedded-opentype'),
         url('gotham-mediumitalic.woff') format('woff'),
         url('gotham-mediumitalic.ttf') format('truetype'),
         url('gotham-mediumitalic.svg#GothamMediumItalic') format('svg');
}
@font-face {
    font-family: 'GothamMedium';
    src: url('gotham-medium.eot');
    src: url('gotham-medium.eot') format('embedded-opentype'),
         url('gotham-medium.woff') format('woff'),
         url('gotham-medium.ttf') format('truetype'),
         url('gotham-medium.svg#GothamMedium') format('svg');
}
@font-face {
    font-family: 'GothamLightItalic';
    src: url('gotham-lightitalic.eot');
    src: url('gotham-lightitalic.eot') format('embedded-opentype'),
         url('gotham-lightitalic.woff') format('woff'),
         url('gotham-lightitalic.ttf') format('truetype'),
         url('gotham-lightitalic.svg#GothamLightItalic') format('svg');
}
@font-face {
    font-family: 'GothamLight';
    src: url('gotham-light.eot');
    src: url('gotham-light.eot') format('embedded-opentype'),
         url('gotham-light.woff') format('woff'),
         url('gotham-light.ttf') format('truetype'),
         url('gotham-light.svg#GothamLight') format('svg');
}
@font-face {
    font-family: 'GothamBookItalic';
    src: url('gotham-bookitalic.eot');
    src: url('gotham-bookitalic.eot') format('embedded-opentype'),
         url('gotham-bookitalic.woff') format('woff'),
         url('gotham-bookitalic.ttf') format('truetype'),
         url('gotham-bookitalic.svg#GothamBookItalic') format('svg');
}
@font-face {
    font-family: 'GothamBook';
    src: url('gotham-book.eot');
    src: url('gotham-book.eot') format('embedded-opentype'),
         url('gotham-book.woff') format('woff'),
         url('gotham-book.ttf') format('truetype'),
         url('gotham-book.svg#GothamBook') format('svg');
}
@font-face {
    font-family: 'GothamBoldItalic';
    src: url('gotham-bolditalic.eot');
    src: url('gotham-bolditalic.eot') format('embedded-opentype'),
         url('gotham-bolditalic.woff') format('woff'),
         url('gotham-bolditalic.ttf') format('truetype'),
         url('gotham-bolditalic.svg#GothamBoldItalic') format('svg');
}
@font-face {
    font-family: 'GothamBold';
    src: url('gotham-bold.eot');
    src: url('gotham-bold.eot') format('embedded-opentype'),
         url('gotham-bold.woff') format('woff'),
         url('gotham-bold.ttf') format('truetype'),
         url('gotham-bold.svg#GothamBold') format('svg');
}
@font-face {
    font-family: 'GothamBlackItalic';
    src: url('gotham-blackitalic.eot');
    src: url('gotham-blackitalic.eot') format('embedded-opentype'),
         url('gotham-blackitalic.woff') format('woff'),
         url('gotham-blackitalic.ttf') format('truetype'),
         url('gotham-blackitalic.svg#GothamBlackItalic') format('svg');
}
@font-face {
    font-family: 'GothamBlack';
    src: url('gotham-black.eot');
    src: url('gotham-black.eot') format('embedded-opentype'),
         url('gotham-black.woff') format('woff'),
         url('gotham-black.ttf') format('truetype'),
         url('gotham-black.svg#GothamBlack') format('svg');
}
@font-face {
    font-family: 'GothamExtraLightItalic';
    src: url('gotham-xlightitalic.eot');
    src: url('gotham-xlightitalic.eot') format('embedded-opentype'),
         url('gotham-xlightitalic.woff') format('woff'),
         url('gotham-xlightitalic.ttf') format('truetype'),
         url('gotham-xlightitalic.svg#GothamExtraLightItalic') format('svg');
}
@font-face {
    font-family: 'GothamExtraLight';
    src: url('gotham-xlight.eot');
    src: url('gotham-xlight.eot') format('embedded-opentype'),
         url('gotham-xlight.woff') format('woff'),
         url('gotham-xlight.ttf') format('truetype'),
         url('gotham-xlight.svg#GothamExtraLight') format('svg');
}
@font-face {
    font-family: 'GothamUltraItalic';
    src: url('gotham-ultraitalic.eot');
    src: url('gotham-ultraitalic.eot') format('embedded-opentype'),
         url('gotham-ultraitalic.woff') format('woff'),
         url('gotham-ultraitalic.ttf') format('truetype'),
         url('gotham-ultraitalic.svg#GothamUltraItalic') format('svg');
}
@font-face {
    font-family: 'GothamUltra';
    src: url('gotham-ultra.eot');
    src: url('gotham-ultra.eot') format('embedded-opentype'),
         url('gotham-ultra.woff') format('woff'),
         url('gotham-ultra.ttf') format('truetype'),
         url('gotham-ultra.svg#GothamUltra') format('svg');
}
@font-face {
    font-family: 'GothamThinItalic';
    src: url('gotham-thinitalic.eot');
    src: url('gotham-thinitalic.eot') format('embedded-opentype'),
         url('gotham-thinitalic.woff') format('woff'),
         url('gotham-thinitalic.ttf') format('truetype'),
         url('gotham-thinitalic.svg#GothamThinItalic') format('svg');
}
@font-face {
    font-family: 'GothamThin';
    src: url('gotham-thin.eot');
    src: url('gotham-thin.eot') format('embedded-opentype'),
         url('gotham-thin.woff') format('woff'),
         url('gotham-thin.ttf') format('truetype'),
         url('gotham-thin.svg#GothamThin') format('svg');
}
@font-face {
    font-family: 'GothamNarrowUltra';
    src: url('gothamnarrow-ultra.eot');
    src: url('gothamnarrow-ultra.eot') format('embedded-opentype'),
         url('gothamnarrow-ultra.woff') format('woff'),
         url('gothamnarrow-ultra.ttf') format('truetype'),
         url('gothamnarrow-ultra.svg#GothamNarrowUltra') format('svg');
}
@font-face {
    font-family: 'GothamNarrowUltraItalic';
    src: url('gothamnarrow-ultraitalic.eot');
    src: url('gothamnarrow-ultraitalic.eot') format('embedded-opentype'),
         url('gothamnarrow-ultraitalic.woff') format('woff'),
         url('gothamnarrow-ultraitalic.ttf') format('truetype'),
         url('gothamnarrow-ultraitalic.svg#GothamNarrowUltraItalic') format('svg');
}
@font-face {
    font-family: 'GothamNarrowThinItalic';
    src: url('gothamnarrow-thinitalic.eot');
    src: url('gothamnarrow-thinitalic.eot') format('embedded-opentype'),
         url('gothamnarrow-thinitalic.woff') format('woff'),
         url('gothamnarrow-thinitalic.ttf') format('truetype'),
         url('gothamnarrow-thinitalic.svg#GothamNarrowThinItalic') format('svg');
}
@font-face {
    font-family: 'GothamNarrowThin';
    src: url('gothamnarrow-thin.eot');
    src: url('gothamnarrow-thin.eot') format('embedded-opentype'),
         url('gothamnarrow-thin.woff') format('woff'),
         url('gothamnarrow-thin.ttf') format('truetype'),
         url('gothamnarrow-thin.svg#GothamNarrowThin') format('svg');
}
@font-face {
    font-family: 'GothamNarrowBookItalic';
    src: url('gothamnarrow-bookitalic.eot');
    src: url('gothamnarrow-bookitalic.eot') format('embedded-opentype'),
         url('gothamnarrow-bookitalic.woff') format('woff'),
         url('gothamnarrow-bookitalic.ttf') format('truetype'),
         url('gothamnarrow-bookitalic.svg#GothamNarrowBookItalic') format('svg');
}
@font-face {
    font-family: 'GothamNarrowBook';
    src: url('gothamnarrow-book.eot');
    src: url('gothamnarrow-book.eot') format('embedded-opentype'),
         url('gothamnarrow-book.woff') format('woff'),
         url('gothamnarrow-book.ttf') format('truetype'),
         url('gothamnarrow-book.svg#GothamNarrowBook') format('svg');
}
@font-face {
    font-family: 'GothamNarrowBoldItalic';
    src: url('gothamnarrow-bolditalic.eot');
    src: url('gothamnarrow-bolditalic.eot') format('embedded-opentype'),
         url('gothamnarrow-bolditalic.woff') format('woff'),
         url('gothamnarrow-bolditalic.ttf') format('truetype'),
         url('gothamnarrow-bolditalic.svg#GothamNarrowBoldItalic') format('svg');
}
@font-face {
    font-family: 'GothamNarrowBold';
    src: url('gothamnarrow-bold.eot');
    src: url('gothamnarrow-bold.eot') format('embedded-opentype'),
         url('gothamnarrow-bold.woff') format('woff'),
         url('gothamnarrow-bold.ttf') format('truetype'),
         url('gothamnarrow-bold.svg#GothamNarrowBold') format('svg');
}
