.icon{ background:url("icon.png") top left no-repeat; }
.icon-map{ width:141px; height:141px; background-position:-1px -1px; }
.icon-atendimento{ width:133px; height:132px; background-position:-1px -143px; }
.icon-servicos{ width:112px; height:128px; background-position:-1px -276px; }
.icon-promocoes{ width:95px; height:126px; background-position:-1px -405px; }
.icon-marker{ width:102px; height:87px; background-position:-1px -532px; }
.icon-facebook{ width:48px; height:48px; background-position:-1px -620px; }
.icon-whatsapp{ width:48px; height:48px; background-position:-50px -620px; }
.icon-mail{ width:30px; height:19px; background-position:-97px -405px; }

